@import "base";
//$experimental-support-for-svg: true;
@font-face {
	font-family: 'dincondc';
	src: url('fonts/dincondc.eot');
	src: local('☺'), url('fonts/dincondc.woff') format('woff'), url('fonts/dincondc.ttf') format('truetype'), url('fonts/dincondc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$blue : rgba(0,68,151,.8);
*{margin:0;padding:0;-webkit-text-size-adjust: none;}
body{
	font: {
	    family: 'dincondc', Arial,sans-serif;
	    weight: normal;
	    size: 12px;
	  	}
	line-height:1.4;
	background: #fff url(../img/bg.jpg) no-repeat 50% 103px;
	text-transform: uppercase;
}
body,html{height: 100%;}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#fff;
	&:hover{
		text-decoration:none;
	}
}
// common styles
.wrap{
	min-height: 100%;
	width: 100%;
	background: url(../img/bg-2.png);
}
.in, .main, .map{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.out{
	padding-bottom: 123px;
}
//header
.header{
	height:65px;
	background: #e6e6e6;
	@include background-image(linear-gradient( #ffffff 0%, #f8f8f8 22%, #e0e0e0 67%, #d8d7d7 88%, #d4d4d4 98%, #dddddd 100%));
	border-bottom:2px solid #cfcfcf;
	box-shadow:0 -2px 5px rgba(255,255,255,.75) inset;
}
.logo{
	@include sized-sprite($icons, 'logo');
	display: block;
	position: absolute;
	top:0;
	left:50px;
	z-index: 20;
	a{
		display: block;
		height: 100%;
		@extend %hide-text;
	}
}
.nav{
	float: right;
	margin-right: 20px;
	ul{
		background: url(../img/devider.png) no-repeat 0 50%;
		display: inline-block;
	}
	li{
		list-style: none;
		float: left;
		background: url(../img/devider.png) no-repeat 100% 50%;
		position: relative;
		padding-right: 1px;
	}
	a{
		color:#898989;
		font-size: 18px;
		text-decoration: none;
		line-height: 65px;
		display: block;
		padding:0 24px;
		margin-left: -1px;
	}
	.active a, .active a:hover{
		background: #0062af;
		@include background-image(linear-gradient(#0062af, #003182));
		color:#fff;
		box-shadow:0 1px 0 0 #cbcbca, 0 0 8px #012476 inset, 0 2px 0 0 #b0b0b0;
		text-shadow:none;
	}
	a:hover{
		color:#0062af;
		text-shadow:0 1px 0 #fff;
	}
}

//main
.main{
	padding: 70px 0 0;
}
.product{
	.slider, .product__block{
		padding:0 100px 0 55px;
		height: 296px;
		background: $blue;
		position: relative;
		margin-bottom: 25px;
		h1{
			font-size: 25px;
			color: #fff;
			font-weight: normal;
			padding:33px 0 13px;
		}
		p{
			font-size: 22px;
			color: #fff;
			line-height: 1.15;
			margin-bottom: 16px;
		}
	}
	.product__block{
		padding:0 28px 0 51px;
		height: 275px;
	}
	.faq__q{
		p{
			margin: 10px 0 10px 32px;
			font-size: 16px;
		}
	}
	.slide{
		float: left;
		width: 860px;
		}
	.slider__prev{
		@include sized-sprite($icons, 'arr-left');
		position: absolute;
		top:147px;
		left:12px;
	}
	.slider__next{
		@include sized-sprite($icons, 'arr-right');
		position: absolute;
		top:147px;
		right: 12px;
	}
	.product__img{
		float: left;
		height: 275px;
		padding-top: 21px;
		margin-right: 17px;
		width: 186px;
		position: relative;
		img{vertical-align: top;}
	}
	.pack-list{
		li{
			padding: 6px 0 0;
			height: 269px;
			line-height: 1;
		}
		img{width: 118px;}
	}
	.pack-nav-list{bottom: 13px;}
}
.product__nav{
	text-align: center;
	ul{
		display: inline-block;
		background: #e6e6e6;
		@include background-image(linear-gradient( #ffffff 0%, #f8f8f8 22%, #e0e0e0 67%, #d8d7d7 88%, #d4d4d4 98%, #dddddd 100%));
		border:1px solid #e6e6e6;
		border-bottom-color:#bbbbba;
		box-shadow:0 -2px 5px rgba(255,255,255,.75) inset, 0 1px 0 #e9e9e9;
		border-radius:5px;
	}
	li{
		list-style: none;
		color:#0062af;
		font-size: 18px;
		display: inline-block;
		height: 35px;
		line-height: 20px;
		&:first-child{border-radius:5px 0 0 5px;}
		&:last-child{border-radius:0 5px 5px 0;}
	}
	a{
		display: block;
		color:#0062af;
		text-decoration: none;
		padding: 9px 26px 5px;
		text-shadow:0 1px 0 #fff;
		position: relative;
	}
	.active{
		a{
			color:#fff;
			text-shadow:none;
		}
		background: #0062af;
		@include background-image(linear-gradient(#0062af, #003182));
		box-shadow:0 1px 0 0 #cbcbca, 0 0 8px #012476 inset;
		.devider{
			@include sized-sprite($icons, 'devider-arr2');
		}
		.arr-top{display: block;}
	}
	.devider{
		@include sized-sprite($icons, 'devider-arr');
		position: absolute;
		top:-1px;
		right:-8px;
	}
	.arr-top{
		display: block;
		position: absolute;
		@include sized-sprite($icons, 'arr-top');
		top:-10px;;
		left:50%;
		margin-left: -6px;
		display: none;
	}
}

//footer
.footer{
	text-align: center;
	background: #919191;
	margin-top: -29px;
	.footer__link{
		float: left;
		background: #0062af;
		overflow: hidden;
		line-height: 29px;
		font-size: 18px;
		color:#fff;
		text-decoration: none;
		padding-right: 18px;
		&:hover{text-decoration: underline;}
		span{
			float: left;
			height: 100%;
			border-right: 1px solid #fff;
			margin-right: 14px;
			@include sized-sprite($icons, 'arr-left3');
		}
	}
	.footer__nav{
		padding: 7px 12px 5px;
		li{
			display: inline-block;
			list-style: none;
			font-size: 12px;
			padding:0 8px;
			color:#fff;
			border-left:1px solid;
			line-height: 1;
			&:first-child{border:0;}
		}
		a{
			color: #fff;
			text-decoration: none;
		}
	}
	.smoking{
		text-align: center;
		background: #fff;
		padding:4px 0 6px;
		span{
			vertical-align: top;
			@include sized-sprite($icons, 'smoking');
			display: inline-block;
			@extend %hide-text;
		}
	}
	.reg-mess{
		color: #636363;
		font-size: 12px;
		position: absolute;
		left:0;
		width: 100%;
		top: -24px;
	}
}
.footer_big{
	@extend .footer;
	height: 123px;
	text-align: right;
	margin-top:-123px;
}


.btn{
	background: #fff;
	box-shadow:0 1px 2px rgba(0,0,0,.7), 0 0 5px rgba(255,255,255,.8) inset;
	border-radius:5px;
	border:1px solid #e6e6e6;
	height: 35px;
	line-height: 35px;
	color:#0062af;
	text-decoration: none;
	font-size: 18px;
	text-shadow:0 1px 0 #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 32px;
	font-family: 'dincondc', Arial,sans-serif;
	cursor: pointer;
	@include background-image(linear-gradient(#fefefe 0%, #f5f5f5 26%, #dadada 79%, #d7d7d7 100%));
}

.btn_bottom{
	@extend .btn;
	position: absolute;
	bottom:-17px;
	left:50%;
	margin: 0 0 0 -63px;
	width: 124px;
	padding:0;
	text-align: center;
}
.btn_file, .btn_web{
	@extend .btn;
	padding:0;
	text-align: center;
	overflow: hidden;
	line-height: 38px;
	width: 214px;
}
.btn_file-out, .btn_web-out{
	display: inline-block;
	margin: 0 23px 0 -2px;
	position: relative;
	width: 214px;
	input{
		position: absolute;
		width: 215px;
		top:0;
		left:100%;
		opacity: 0;
		cursor: pointer;
		display: none;
	}
}

.btn_web-out{
	.mess_error{
		right: auto;
		left:100%;
		margin-left: 20px;
		.arr{
			@include sized-sprite($icons, 'error-arr2');
			left:-8px;
			right: auto;
		}
	}
}

.btn-holder{
	margin: 15px 0 25px;
}
.btn_bottom_left{
	@extend .btn_bottom;
	width: 167px;
	margin-left: -181px;
}
.btn_bottom_right{
	@extend .btn_bottom;
	width: 167px;
	margin-left: 11px;
}

.select{
	font-size: 14px;
	@include background-image(linear-gradient(#fefefe 0%, #f5f5f5 26%, #dadada 79%, #d7d7d7 100%));
	border:0;
	border-radius:4px;
	box-shadow:0 1px 1px #000 inset, 0 1px 0 #fff;
	height: 31px;
	position: relative;
	display: inline-block;
	.select__text{
		padding: 8px 24px 0 7px;
		font-size: 14px;
		color: #555;
		text-shadow:0 1px 0 #fff;
		display: block;
		height: 20px;
	}
	.select__arr{
		position: absolute;
		@include sized-sprite($icons, 'select-arr');
		right: 8px;
		top: 16px;
	}
	select{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		opacity: 0;
		height: 31px;
		font-family: 'dincondc', Arial,sans-serif;
		-webkit-appearance:none;
		font-size: 14px;
		font-weight: normal;
		color: #555;
		text-transform: uppercase;
		line-height: 20px;
	}
}

.select_d{
	width: 48px;
	margin-right: 9px;
}

.select_m{
	width: 106px;
	margin-right: 9px;
}

.select_y{
	width: 96px;
}

.popup-wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.85;
	z-index: 100;
}

// popup
.popup{
	position: fixed;
	top:50%;
	left:50%;
	color:#fff;
	box-shadow:0 1px 10px #000;
	padding: 2px;
	margin:-89px 0 0 -208px;
	z-index: 105;
	zoom:1;
	background-color: #fff ;
	background-size: 100%;
	@include background-image(linear-gradient(#ffffff 0%, #464646 11%, #cccccc 24%, #959595 53%, #acacac 71%, #464646 87%, #ffffff 100%));
	.popup__holder{
		background-color: #003182; 
		@include background-image(linear-gradient(left, #003182 0%, #0062af 50%, #003182 100%));
	}
	.popup__close{
		position: absolute;
		top:10px;
		right:10px;
		zoom: 110;
		cursor: pointer;
		@include sized-sprite($icons, 'close');
	}
	h1{
		font-size: 23px;
		text-shadow:0 1px 2px rgba(40,39,39,.77);
		font-weight: normal;
		margin:0 0 10px;
	}
	p.big{
		margin-top:31px;
		font-size: 21px;
	}
	p{
		font-size: 14px;
	}
	.row{
		margin: 0 0 17px;
		position: relative;
	}
	.input{
		font-size: 14px;
		font-family: 'dincondc', Arial,sans-serif;
		@include background-image(linear-gradient(#fefefe 0%, #f5f5f5 26%, #dadada 79%, #d7d7d7 100%));
		border:0;
		border-radius:4px;
		box-shadow:0 1px 1px #000 inset, 0 1px 0 #fff;
		width: 244px;
		height: 31px;
		color:#636363;
		text-align: center;
	}
}

.popup_pass{
	@extend .popup;
	text-align: center;
	.popup__holder{
		padding: 12px 0 0;
		height: 161px;
		width: 410px;
	}
	.btn_bottom{
		@extend .btn;
		position: absolute;
		bottom:-17px;
		left:50%;
		margin: 0 0 0 -63px;
		width: 124px;
		padding:0;
	}
}

.popup_login{
	@extend .popup;
	text-align: center;
	margin: -112px 0 0 -163px;
	.input{width: 272px;}
	.popup__holder{
		padding: 12px 0 0;
		width: 322px;
		padding-top: 10px;
		height: 211px;
		}
	.mess_error{margin-right: -9px;}
	.link_reg{
		font-size: 16px;
		color:#fff;
	}
	.link_pass{
		font-size: 14px;
		color:#fff;
	}
	.row_check{
		float: right;
		label{
			font-size: 14px;
			color: #fff;
		}
	}
}

.popup_thanks{
	@extend .popup;
	margin-left: -273px;
	margin-top: -126px;
	.popup__holder{
		height: 253px;
		width: 453px;
		padding: 12px 45px 0;
	}
	text-align: center;
	background-size: 100% auto;
	h1{margin: 0 0 19px;}
	p{
		font-size: 16px;
		line-height: 1.2;
		margin: 0 0 16px;
	}
}

.popup_reg{
	@extend .popup;
	margin-left: -273px;
	margin-top: -296px;
	.popup__holder{
		height: 576px;
		width: 486px;
		padding: 12px 28px 0;
	}
	h1{text-align: center;}
	p{line-height: 1.2;}
	.input{width: 274px;}
	label{font-size: 14px;}
	.row{
		margin: 0 0 18px;
		label{
			margin: 0 0 0 12px;
		}
	}
	.row_check{
		margin: 0 0 6px;
		display: inline-block;
		width: 100%;
		position: relative;
		label{
			float: left;
			width: 460px;
			line-height: 1.2;
		}
		.mess_error{
			top: -6px;
		}
	}
	.mess_error{
		margin-right: 20px;
	}
	.check{
		margin: -1px 8px 0 0;
		float: left;
	}
	.row_select{
		@extend .row;
		display: inline-block;
	}
}

.popup_query{
	@extend .popup;
	text-align: center;
	margin: -89px 0 0 -320px;
	.popup__holder{
		height: 123px;
		line-height: 1.2;
		padding: 51px 0 0;
		width: 637px;
	}
	h1{
		font-size: 25px;
	}
}

.popup_pack{
	margin: -244px 0 0 -288px;
	@extend .popup;
	.popup__holder{
		height: 489px;
		line-height: 1.2;
		padding:0;
		width: 576px;
		background: url(../img/bg-grad.jpg) 50% 50%;
	}
	.popup__360{
		display: block;
		text-align: center;
		font-size: 23px;
		text-shadow:0 1px 2px rgba(0,0,0,.77);
		top:26px;
		position: absolute;
		width: 100%;
	}
}
.pack-list{
	list-style: none;
	li{
		display: none;
		width: 100%;
		height: 348px;
		line-height:348px;
		text-align: center;
		padding: 60px 0 81px;
		img{vertical-align: middle;}
	}
	.active{display:block;}
}
.pack-nav-list{
	list-style: none;
	width: 100%;
	bottom: 26px;
	text-align: center;
	position: absolute;
	li{
		position: relative;
		display: inline-block;
		cursor: pointer;
		margin:0 7px;
		height: 46px;
		vertical-align: bottom;
		img{vertical-align: bottom;}
	}
	.active .pack-arr{display: block;}
}
.pack-arr{
	position: absolute;
	display: none;
	@include sized-sprite($icons, 'arr-top2');
	top:-13px;
	left:50%;
	margin-left: -6px;
}


.check{
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 1px 1px #000 inset,0 1px 0 #fff;
	@include background-image(linear-gradient(rgba(0,0,0,.25), rgba(255,255,255,.25)));
	width: 16px;
	height: 16px;
	position: relative;
	display: inline-block;
	input{
		opacity: 0;
		width: 16px;
		height: 16px;
		position: absolute;
		top:0;
		left: 0;
	}
	span{
		height: 8px;
		width: 8px;
		background: #0061ae;
		box-shadow: 0 1px 1px #000 inset,0 1px 0 #fff;
		border-radius: 2px;
		position: absolute;
		top: 5px;
		left: 4px;
		display: none;
		@include background-image(linear-gradient(rgba(0,0,0,.25), rgba(255,255,255,.25)));
	}
	&.checked span{display: block;}
}

.left-block{
	text-align:left;
	padding: 0 25px;
	margin-top: -1px;
}

.mess_error{
	position: absolute;
	font-size: 14px;
	color: #fff;
	@include background-image(linear-gradient(#fe0000 0%, #f00000 27%, #cf0000 70%, #c00000 97%, #c10f0f 100%));
	box-shadow:0 1px 2px #4b0000;
	height: 31px;
	line-height: 34px;
	padding:0 15px 0 15px;
	border-radius:5px;
	top:2px;
	white-space: nowrap;
	margin-right: -64px;
	right: 100%;
	.arr{
		position: absolute;
		@include sized-sprite($icons, 'error-arr');
		top:50%;
		margin-top:-9px;
		right:-8px;
	}
}
.faq{
	float: left;
	h2{
		color:#fff;
		font-weight: normal;
		font-size: 18px;
		margin: 0 0 7px;
		cursor: pointer;
		.arr{
			height: 19px;
			width: 19px;
			top: 4px;
			margin-right: 11px;
			border-radius: 3px;
			background: #fefefe;
			position: relative;
			border: 1px solid #e6e6e6;
			display: inline-block;
			box-shadow: 0 1px 1px #fff inset, 0 1px 2px rgba(0,0,0,.4);
			@include background-image(linear-gradient( #fefefe, #bebebd ));
			span{
				@include sized-sprite($icons, 'more-arr');
				position: absolute;
				left:4px;
				top:7px;
			}
		}
	}
	.faq__q{
		p{
			font-size: 16px;
			display: none;
		}
	}
	.faq__q_open{
		@extend .faq__q;
		p{display: block;}
		.arr span{
			@include sized-sprite($icons, 'more-arr2');
			top:6px;
		}
	}
}
.faq-new{
	float: right;
	width: 315px;
	position: relative;
	height: 278px;
	.faq-new-ans{
		height: 278px;
		text-align: center;
		p{
			font-size: 18px;
			line-height: 278px;
			margin: 0;
		}
	}
	.textarea{
		margin-top: 43px;
		width: 287px;
		height: 163px;
		padding: 11px 14px;
		border-radius: 3px;
		background: #fff;
		@include background-image(linear-gradient( rgba(white,.15), rgba(0,0,0,.15) ));
		border:0;
		box-shadow: 0 1px 1px #000 inset, 0 1px 0 #fff;
		color: #898989;
		font-size: 14px;
		font-family: 'dincondc', Arial,sans-serif;
		text-transform: uppercase;
		resize:none;
	}
}
#scrollbar {
	width: 543px;
	clear: both;
	margin: 18px 0 20px;
}
#scrollbar .viewport {
	width: 523px;
	height: 244px;
	overflow: hidden;
	position: relative;
}
#scrollbar .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
}
#scrollbar .scrollbar {
	position: relative;
	float: right;
	width: 15px;
}
#scrollbar .track {
	background-color: #007fe2;
	height: 100%;
	width:5px;
	position: relative;
	box-shadow: 0 1px 2px #0079d7;
	border-radius: 2px;
}
#scrollbar .thumb {
	@include sized-sprite($icons, 'scroll');
	width: 9px;
	height: 54px;
	cursor: pointer;
	margin-left: -2px;
	overflow: hidden;
	position: absolute;
	top: 0;
}
#scrollbar .disable{ display: none; }
.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.map{
	position: relative;
	.london{
		background: url(../img/map.jpg)no-repeat 50% 0;
		img{vertical-align: top;}
	}
}
.steps{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0 5px 0;
	background: $blue;
	.steps__title{
		font-size: 25px;
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,.77);
		float: left;
		padding-left: 49px;
	}
	.steps__list{
		float: left;
		margin: 2px 0 0 -4px;
		li{
			float: left;
			list-style: none;
			cursor: pointer;
			width: 24px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			position: relative;
			background: #fff;
			@include background-image(linear-gradient( rgba(white,.3), rgba(0,0,0,.3) ));
			box-shadow: 0 2px 0 #fff inset, 0 1px 2px rgba(0,0,0,.4);
			margin-left: 15px;
			border-radius: 2px;
			&:first-child .line{display: none;}
		}
		.point{
			display: inline-block;
			vertical-align: middle;
			@include sized-sprite($icons, 'point');
		}
		.query{
			display: inline-block;
			vertical-align: middle;
			@include sized-sprite($icons, 'question');
		}
		.line{
			position: absolute;
			top: 50%;
			left:-15px;
			width: 15px;
			height: 4px;
			margin-top: -2px;
			background: #fff;
			@include background-image(linear-gradient( rgba(white,.3), rgba(0,0,0,.3) ));
			box-shadow: 0 2px 0 #fff inset, 0 1px 2px rgba(0,0,0,.4);
		}
		.active{
			background: #ed1c24;
			@include background-image(linear-gradient( #eb1c24, #9f1318 ));
			box-shadow: 0 2px 0 rgba(white,.3) inset, 0 1px 2px rgba(0,0,0,.4);
			.point{
				@include sized-sprite($icons, 'point2');
			}
			.query{
				@include sized-sprite($icons, 'question2');
			}
			.line{
				background: #ed1c24;
				@include background-image(linear-gradient( #eb1c24, #9f1318 ));
				box-shadow: 0 2px 0 rgba(white,.3) inset, 0 1px 2px rgba(0,0,0,.4);
			}
		}
	}
}
.indicator{
	float: right;
	padding-right: 96px;
	position: relative;
	.indicator__name{
		font-size: 25px;
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,.77);
		float: right;
	}
	.indicator__point{
		position: absolute;
		right: 5px;
		bottom: -5px;
	}
}
.indicator_cold{
	.indicator__point{
		@include sized-sprite($icons, 'cold');
	}
}
.indicator_hot{
	.indicator__point{
		@include sized-sprite($icons, 'hot');
	}
}
.indicator_cold{
	.indicator__point{
		@include sized-sprite($icons, 'cold');
	}
}
.indicator_warm{
	.indicator__point{
		@include sized-sprite($icons, 'warm');
	}
}
.indicator_freeze{
	.indicator__point{
		@include sized-sprite($icons, 'freeze');
	}
}

.map__point{
	@include sized-sprite($icons, 'marker');
	position: absolute;
	top:150px;
	left:265px;
}
.history{
	@include sized-sprite($icons, 'history');
	position: absolute;
	top:35px;
	right: 17px;
}
.hint{
	position: absolute;
	padding:0 17px;
	height: 37px;
	line-height: 37px;
	background: #ffffff;
	@include background-image(linear-gradient( #ffffff, #dfdfdf ));
	box-shadow:0 2px 0 #fff inset, 0 1px 1px rgba(0,0,0,.2);
	color: #0062af;
	text-shadow:0 1px 0 #fff;
	border-radius: 3px;
	.arr{
		
		position: absolute;
		
	}
}
.hint_top{
	@extend .hint;
	.arr{
		@include sized-sprite($icons, 'arr-bottom');
		bottom:-11px;
		left:28px;
	}
}
.hint_left{
	@extend .hint;
	.arr{
		@include sized-sprite($icons, 'arr-right2');
		right: -10px;
		top: 11px;
	}
}
.arr4{
	margin: 0 10px 0 -5px;
	display: inline-block;
	@include sized-sprite($icons, 'arr4');
	vertical-align: middle;
}