@import "base";
// =======Sprites
// .whatever{
// 	@include sized-sprite($icons, badge_hit);
// 	@include retina{
// 		@include sized-sprite($icons, badge_new);
// 	}
// }
// =======animation example
// @include keyframes(rotate) {
//    from {
//       @include rotate(0);
//    }
//    to {
//       @include rotate(360);
//    }
// }
// body:hover{
// 	@include animation(rotate 200s linear infinite);
// }
// ========gradient example
// body{
// @include background-image(linear-gradient(#232323, #5c5c5c));
// }

@font-face {
	font-family: 'dincondc';
	src: url('fonts/dincondc.eot');
	src: local('☺'), url('fonts/dincondc.woff') format('woff'), url('fonts/dincondc.ttf') format('truetype'), url('fonts/dincondc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{margin:0;padding:0;-webkit-text-size-adjust: none;}
body{
	font: {
	    family: 'dincondc', Arial,sans-serif;
	    weight: normal;
	    size: 12px;
	  	}
	line-height:1.4;
	background: #fff url(../img/bg.jpg) no-repeat 50% 103px;
}
body,html{height: 100%;}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#00919e;
	&:hover{
		text-decoration:none;
	}
}
// common styles
.wrap{
	min-height: 100%;
	width: 100%;
	background: url(../img/bg-2.png);
}
.in, .main{
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.out{
	padding-bottom: 123px;
}
//header
.header{
	height:65px;
	background: #e6e6e6;
	@include background-image(linear-gradient( #ffffff 0%, #f8f8f8 22%, #e0e0e0 67%, #d8d7d7 88%, #d4d4d4 98%, #dddddd 100%));
	border-bottom:2px solid #cfcfcf;
	box-shadow:0 -2px 5px rgba(255,255,255,.75) inset;
}
.logo{
	@include sized-sprite($icons, 'logo');
	display: block;
	position: absolute;
	top:0;
	left:50px;
	a{
		display: block;
		height: 100%;
		@extend %hide-text;
	}
}
.nav{
	float: right;
	margin-right: 20px;
	ul{
		background: url(../img/devider.png) no-repeat 0 50%;
		display: inline-block;
	}
	li{
		list-style: none;
		float: left;
		text-transform: uppercase;
		background: url(../img/devider.png) no-repeat 100% 50%;
		position: relative;
		padding-right: 1px;
	}
	a{
		color:#898989;
		font-size: 18px;
		text-decoration: none;
		line-height: 65px;
		display: block;
		padding:0 24px;
		margin-left: -1px;
	}
	.active a, .active a:hover{
		background: #0062af;
		@include background-image(linear-gradient(#0062af, #003182));
		color:#fff;
		box-shadow:0 1px 0 0 #cbcbca, 0 0 8px #012476 inset, 0 2px 0 0 #b0b0b0;
		text-shadow:none;
	}
	a:hover{
		color:#0062af;
		text-shadow:0 1px 0 #fff;
	}
}

//main
.main{
	padding: 70px 0 0;
}
.product{
	.slider{
		padding:0 100px 0 55px;
		height: 296px;
		background: rgba(0,68,151,.8);
		position: relative;
		overflow: hidden;
		margin-bottom: 25px;
		h1{
			font-size: 25px;
			color: #fff;
			text-transform: uppercase;
			font-weight: normal;
			padding:33px 0 13px;
		}
		p{
			font-size: 22px;
			color: #fff;
			text-transform: uppercase;
			line-height: 1.15;
		}
	}
	.slide{
		float: left;
		width: 860px;
		}
	.slider__prev{
		@include sized-sprite($icons, 'arr-left');
		position: absolute;
		top:147px;
		left:12px;
	}
	.slider__next{
		@include sized-sprite($icons, 'arr-right');
		position: absolute;
		top:147px;
		right: 12px;
	}
	.product__img{
		float: left;
		height: 296px;
		padding-top: 21px;
		margin-right: 17px;
		img{vertical-align: top;}
	}
}
.product__nav{
	text-align: center;
	ul{
		display: inline-block;
		background: #e6e6e6;
		@include background-image(linear-gradient( #ffffff 0%, #f8f8f8 22%, #e0e0e0 67%, #d8d7d7 88%, #d4d4d4 98%, #dddddd 100%));
		border:1px solid #e6e6e6;
		border-bottom-color:#bbbbba;
		box-shadow:0 -2px 5px rgba(255,255,255,.75) inset, 0 1px 0 #e9e9e9;
		border-radius:5px;
	}
	li{
		list-style: none;
		text-transform: uppercase;
		color:#0062af;
		font-size: 18px;
		display: inline-block;
		height: 35px;
		line-height: 20px;
		&:first-child{border-radius:5px 0 0 5px;}
		&:last-child{border-radius:0 5px 5px 0;}
	}
	a{
		display: block;
		color:#0062af;
		text-decoration: none;
		padding: 9px 26px 5px;
		text-shadow:0 1px 0 #fff;
		position: relative;
	}
	.active{
		a{
			color:#fff;
			text-shadow:none;
		}
		background: #0062af;
		@include background-image(linear-gradient(#0062af, #003182));
		box-shadow:0 1px 0 0 #cbcbca, 0 0 8px #012476 inset;
		.devider{
			@include sized-sprite($icons, 'devider-arr2');
		}
		.arr-top{display: block;}
	}
	.devider{
		@include sized-sprite($icons, 'devider-arr');
		position: absolute;
		top:-1px;
		right:-8px;
	}
	.arr-top{
		display: block;
		position: absolute;
		@include sized-sprite($icons, 'arr-top');
		top:-10px;;
		left:50%;
		margin-left: -6px;
		display: none;
	}
}

//footer
.footer{
	text-align: center;
	background: #919191;
	margin-top: -29px;
	.footer__link{
		float: left;
		text-transform: uppercase;
		background: #0062af;
		overflow: hidden;
		line-height: 29px;
		font-size: 18px;
		color:#fff;
		text-decoration: none;
		padding-right: 18px;
		&:hover{text-decoration: underline;}
		span{
			float: left;
			height: 100%;
			border-right: 1px solid #fff;
			margin-right: 14px;
			@include sized-sprite($icons, 'arr-left3');
		}
	}
	.footer__nav{
		padding: 7px 12px 5px;
		li{
			display: inline-block;
			list-style: none;
			font-size: 12px;
			padding:0 8px;
			color:#fff;
			border-left:1px solid;
			line-height: 1;
			text-transform: uppercase;
			&:first-child{border:0;}
		}
		a{
			color: #fff;
			text-decoration: none;
		}
	}
	.smoking{
		text-align: center;
		background: #fff;
		padding:4px 0 6px;
		span{
			vertical-align: top;
			@include sized-sprite($icons, 'smoking');
			display: inline-block;
			@extend %hide-text;
		}
	}
	.reg-mess{
		color: #636363;
		font-size: 12px;
		text-transform: uppercase;
		position: absolute;
		left:0;
		width: 100%;
		top: -24px;
	}
}
.footer_big{
	@extend .footer;
	height: 123px;
	text-align: right;
	margin-top:-123px;
}


.btn{
	background: #fff;
	box-shadow:0 1px 2px rgba(0,0,0,.7), 0 0 5px rgba(255,255,255,.8) inset;
	border-radius:5px;
	border:1px solid #e6e6e6;
	height: 35px;
	line-height: 35px;
	color:#0062af;
	text-decoration: none;
	font-size: 18px;
	text-shadow:0 1px 0 #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 40px;
	font-family: 'dincondc', Arial,sans-serif;
	cursor: pointer;
	@include background-image(linear-gradient(#fefefe 0%, #f5f5f5 26%, #dadada 79%, #d7d7d7 100%));
}

.btn_bottom{
	@extend .btn;
	position: absolute;
	bottom:-17px;
	left:50%;
	margin: 0 0 0 -63px;
	width: 124px;
	padding:0;
	text-align: center;
}

// popup
.popup{
	position: fixed;
	top:50%;
	left:50%;
	color:#fff;
	box-shadow:0 1px 10px #000;
	padding: 2px;
	margin:-89px 0 0 -208px;
	z-index: 5;
	@include background-image(linear-gradient(#ffffff 0%, #464646 11%, #cccccc 24%, #959595 53%, #acacac 71%, #464646 87%, #ffffff 100%));
	.popup__holder{
		@include background-image(linear-gradient(left, #003182 0%, #0062af 50%, #003182 100%));
	}
	.popup__close{
		position: absolute;
		top:10px;
		right:10px;
		@include sized-sprite($icons, 'close');
	}
	h1{
		text-transform: uppercase;
		font-size: 23px;
		text-shadow:0 1px 2px rgba(40,39,39,.77);
		font-weight: normal;
		margin:0 0 10px;
	}
	p.big{
		margin-top:31px;
		font-size: 21px;
	}
	p{
		text-transform: uppercase;
		font-size: 14px;
	}
	.row{
		margin: 0 0 17px;
		position: relative;
	}
	.input{
		font-size: 14px;
		font-family: 'dincondc', Arial,sans-serif;
		@include background-image(linear-gradient(#fefefe 0%, #f5f5f5 26%, #dadada 79%, #d7d7d7 100%));
		border:0;
		border-radius:4px;
		box-shadow:0 1px 1px #000 inset, 0 1px 0 #fff;
		width: 244px;
		height: 25px;
		padding: 6px 0 0;
		color:#636363;
		text-transform: uppercase;
		text-align: center;
	}
}

.popup_pass{
	@extend .popup;
	text-align: center;
	.popup__holder{
		padding: 12px 0 0;
		height: 161px;
		width: 410px;
	}
	.btn_bottom{
		@extend .btn;
		position: absolute;
		bottom:-17px;
		left:50%;
		margin: 0 0 0 -63px;
		width: 124px;
		padding:0;
	}
}

.popup_login{
	@extend .popup;
	text-align: center;
	margin: -112px 0 0 -163px;
	.input{width: 272px;}
	.popup__holder{
		padding: 12px 0 0;
		width: 322px;
		padding-top: 10px;
		height: 211px;
		}
	.mess_error{margin-right: -9px;}
	.link_reg{
		font-size: 16px;
		color:#fff;
	}
	.link_pass{
		font-size: 14px;
		color:#fff;
	}
	.row_check{
		float: right;
		label{
			font-size: 14px;
			color: #fff;
		}
		.check{display: inline-block;}
	}
}

.popup_thanks{
	@extend .popup;
	margin-left: -273px;
	margin-top: -126px;
	.popup__holder{
		height: 253px;
		width: 453px;
		padding: 12px 45px 0;
	}
	text-align: center;
	background-size: 100% auto;
	h1{margin: 0 0 19px;}
	p{
		font-size: 16px;
		line-height: 1.2;
		margin: 0 0 16px;
	}
}

.check{
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 1px 1px #000 inset,0 1px 0 #fff;
	@include background-image(linear-gradient(rgba(0,0,0,.25), rgba(255,255,255,.25)));
	width: 16px;
	height: 16px;
	position: relative;
	input{
		opacity: 0;
		width: 16px;
		height: 16px;
		position: absolute;
		top:0;
		left: 0;
	}
	span{
		height: 8px;
		width: 8px;
		background: #0061ae;
		box-shadow: 0 1px 1px #000 inset,0 1px 0 #fff;
		border-radius: 2px;
		position: absolute;
		top: 5px;
		left: 4px;
		@include background-image(linear-gradient(rgba(0,0,0,.25), rgba(255,255,255,.25)));
	}
}

.left-block{
	text-align:left;
	padding: 0 25px;
	margin-top: -1px;
	
	text-transform: uppercase;
}

.mess_error{
	position: absolute;
	font-size: 14px;
	color: #fff;
	@include background-image(linear-gradient(#fe0000 0%, #f00000 27%, #cf0000 70%, #c00000 97%, #c10f0f 100%));
	box-shadow:0 1px 2px #4b0000;
	height: 31px;
	line-height: 34px;
	padding:0 15px 0 15px;
	border-radius:5px;
	text-transform: uppercase;
	top:2px;
	white-space: nowrap;
	margin-right: -64px;
	right: 100%;
	.arr{
		position: absolute;
		@include sized-sprite($icons, 'error-arr');
		top:50%;
		margin-top:-9px;
		right:-8px;
	}
}